/*variables */

:root {
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Merriweather", serif;
  --heading-size: 80px;
  --heading2-size: 40px;
  --navbar-font-size: 26px;
  --heading3-size: 24px;
  --heading4-size: 16px;
  --paragraph-size: 20px;
  --navbar-color: #001f2b;
  --section-color: #404040;
  --footer-color: #292929;
  --section-padding: 100px;
}

/*Smooth scrolling when clicking on the navbar*/

html {
  scroll-behavior: smooth;
}

/*Global paragraph and heading styles*/

p {
  font-family: var(--paragraph-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--heading-size);
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

h2 {
  font-family: var(--heading2-font);
  font-size: var(--heading2-size);
  font-weight: 400;
  z-index: 1;
  text-align: center;
}

h3 {
  font-size: var(--heading3-size);
  font-family: var(--heading-font);
  font-weight: 400;
}

h4 {
  font-size: var(--heading4-size);
  font-family: var(--heading-font);
}

/* change the navbar background color  */

.navbar-custom {
  background-color: var(--navbar-color);
}

/* change the link and text color */

.navbar-custom .navbar-text, .navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: var(--navbar-font-size);
}

/*Custom burger button style*/

#burger-button {
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

#Home {
  background: no-repeat center fixed url(images/Stars\ in\ a\ vase\ Full\ HD.jpg);
  background-color: #cccccc;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: -2;
  margin-bottom: 0px;
}

#ioanna-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.25em !important;
  margin-top: 25px;
}

.link-image {
  color: #55ACEE;
}

.link-image:hover {
  text-decoration: none;
}

.link-image p {
  font-size: var(--paragraph-size);
  display: inline-block;
  padding-left: 8px;
  font-family: var(--paragraph-font)
}

#twitter {
  margin-left: 1.5em;
}

#Home h1 {
  margin-top: 0px;
  color: white;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: black;
  padding-bottom: 20px;
  margin-top: -1em;
}

#Home:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 255, 1);
}

#Home h2, #CV h1, #CV h2, #CV h3, #CV h4, #CV p {
  color: white;
}

#Profile {
  padding-top: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

#CV {
  padding-top: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--section-color);
  color: white;
}

#CV h2 {
  text-align: left;
}

#CV .row {
  padding-top: 2em;
}

#Research-Interests {
  background-color: white;
  color: black;
}

#Public-Outreach {
  background-color: var(--section-color);
  color: white;
}

#Contact {
  background-color: var(--footer-color);
  color: white;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }
  #Home h1 {
    padding-bottom: 9px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}